<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="charts/app.js" defer></script>
    <title>Index</title>
  </head>
  <body>
    <% const transactionDATA = JSON.stringify(transactions) %>
    <div id="datadiv" style="display: none"><%= transactionDATA %></div>
    <h2><a href="./transactions/new">New Transaction</a></h2>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <h1>My transactions</h1>
    <ul>
      <% transactions.forEach(function(transaction){ %>
      <li>
        <p><%= transaction.date %></p>
        <p><%= transaction.vendor %></p>
        <p><%= transaction.details %></p>
        <p><%= transaction.amount %></p>
        <p><%= transaction.category %></p>
        <p><%= transaction.time_type %></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
